GH_TOKEN=

GPG_KEY_ID=
GPG_PASSPHRASE=

TAURI_SIGNING_PRIVATE_KEY=
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=

APPLE_SIGNING_IDENTITY=
APPLE_ID=
APPLE_PASSWORD=
APPLE_TEAM_ID=
SSH_USER_PWD=

AFTER_PACK_LOC=Z:/S3-SIDEKICK

# GH_REPO_OWNER=BurntToasters
# GH_REPO_NAME=S3-Sidekick
