[Desktop Entry]
Type=Application
Name=S3 Sidekick
Exec=env GDK_BACKEND=x11 s3-sidekick
Icon=run.rosie.s3-sidekick
Categories=Network;Utility;
Terminal=false
